.paintedwall {
	background-color: papayawhip;
}

.moveme {
	text-align: center;
}

.sizeme {
	width: 1200px;
	height: 300px;
}


h1 {
    font-family: 'Courier New', monospace;
    color: firebrick;
    text-align: center;
    border: dotted burlywood;
    padding: 2rem;
}

a, p { font-family: 'Courier New', monospace;
    margin: 1.25rem;
    text-align: center;
}

